.active_card {
  color: #fff;
  border-color: #ff4d4f;
  background: #ff4d4f;
}

.my_checkbox {
  position: absolute;
  z-index: 40;
  left: -5px;
  top: -10px;
  cursor: pointer;
}

.my_checkbox > input:checked {
  border: 1px solid #41B883;
  background-color: red;
}
