.table_root {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}

.table_root th {
  border-bottom: 2px solid black;
}

.table_root td {
  padding: 0.5em;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  border: 1px solid #dddddd;
}

.table_root button {
  width: 100%;
  text-align: left;
  padding: 0.5em;

  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  margin-bottom: 1px;
}

.table_root tr:nth-child(even) {
  background-color: #dddddd;
}