.root_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /* Theming */
  background: #e0e6eb;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .sidebar { display: none; }  /* hide it on small screens */
}