.main {
  padding: 5rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  align-self: flex-start;
  font-size: 1.0rem;
  margin-left: 5%;
  margin-right: 5%;
}

.content_row {
  display: flex;
  flex-direction: row;
}
.content_row > div {
  margin-right: 30px;
  margin-left: 30px;
}

.content_col {
  display: flex;
  flex-direction: column;
}
.content_col > div {
  margin-top: 2px;
  margin-bottom: 2px;
}
