.main {
  padding: 5rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.active_card {
  background-color: #3c415c;
}